.navContainer{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 250rem;
    opacity: 0.9;
    background-color: gray;
}

.cards{
    margin-top: 50px;
    flex-direction: column;
   display: flex; 
   gap: 5px;
   
}